<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>2016-05-19-GoogleIO.md</key>
			<dict>
				<key>lastModification</key>
				<real>546156972.79641998</real>
				<key>version</key>
				<dict>
					<key>684dd8e4aebda0be5aade11e4b441e574444ab0ed04896fb32d386f53e44b845</key>
					<integer>276</integer>
				</dict>
			</dict>
			<key>2016-05-21-fav.md</key>
			<dict>
				<key>lastModification</key>
				<real>546156972.79641795</real>
				<key>version</key>
				<dict>
					<key>684dd8e4aebda0be5aade11e4b441e574444ab0ed04896fb32d386f53e44b845</key>
					<integer>276</integer>
				</dict>
			</dict>
			<key>flickr又被卖了.md</key>
			<dict>
				<key>lastModification</key>
				<real>546157218.39315403</real>
				<key>version</key>
				<dict>
					<key>684dd8e4aebda0be5aade11e4b441e574444ab0ed04896fb32d386f53e44b845</key>
					<integer>282</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-05-21-fav.md</string>
		</array>
		<array>
			<string>flickr又被卖了.md</string>
		</array>
		<array>
			<string>2016-05-19-GoogleIO.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>684dd8e4aebda0be5aade11e4b441e574444ab0ed04896fb32d386f53e44b845</key>
			<integer>8</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>684dd8e4aebda0be5aade11e4b441e574444ab0ed04896fb32d386f53e44b845</key>
			<integer>282</integer>
		</dict>
	</dict>
</dict>
</plist>
