---
layout: default
post_class: post-template page-template
---

<div class="nav">
    <div class="list">
        <a href="https://www.instagram.com/mensmen/" class="nav-item">Ins</a>
        <a href="/blog/archive.html" class="nav-item">归档</a>
        <a href="/blog/about.html" class="nav-item">关于</a>
    </div>
    <a href="{{ site.baseurl }}" title="{{ site.description }}" class="logo"> <strong>{{ site.name }}</strong></a>
    <span class="description">{{ site.description }}</span>
</div>


<main class="content" role="main" style="padding-top:8rem;">
    <article class="post">
        <!-- <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%} 
            </a>
        </header> -->

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
